.header {
  z-index: 10;
  width: 100%;
  background: rgba(255, 255, 255, 0.8);
  transition: all 0.2s ease;
  position: fixed;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .06);

  :global(.ant-menu-item>a),
  .navItem a {
    color: rgba(0, 0, 0, 0.65);
  }

  &Logo {
    align-items: center;
    height: 64px;
    display: flex;
    margin-right: 0;
    float: left;
  }

  :global(.logo) {
    height: 40px;
  }

  &.fixed {
    background: transparent;
    color: #fff;

    :global(.ant-menu-item>a),
    .navItem a {
      color: #fff;
    }
  }

  &.scroll {
    background: #fff;

    :global(.ant-menu-item>a),
    .navItem a {
      color: rgba(0, 0, 0, 0.65);
    }
  }
}

.headerNav {
  height: 100%;
  display: flex;
  align-items: center;

  &:global(.right) {
    float: right;

    @media (max-width: 992px) {
      display: none;
    }
  }

  &:global(.left) {
    float: left;
    margin-left: 24px;

    @media (max-width: 992px) {
      display: none;
    }
  }
}

.headerMenu {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 0;
  list-style: none;

  &:global(.ant-menu-horizontal) {
    border-bottom: 0;
    background-color: rgba(0, 0, 0, 0);

    :global {
      .ant-menu-item {
        top: 0;
        border-bottom: 2px solid rgba(0, 0, 0, 0) !important;
        border-top: 3px solid rgba(0, 0, 0, 0) !important;
        padding: 0;
        margin: 0;

        a {
          line-height: 56px;
          padding: 0 14px;
        }

        .ant-menu-item>a::before {
          background: transparent;
        }
      }
    }
  }

  .navItem {
    margin-left: 8px;
    min-width: 24px;
  }
}
