.slt-header {
  z-index: 10;
  width: 100%;
  background: rgba(255, 255, 255, 0.8);
  transition: all 0.2s ease;
  position: fixed;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .06);

  .ant-menu-item>a,
  .slt-nav-item a {
    color: rgba(0, 0, 0, 0.65);
  }

  &-logo {
    align-items: center;
    height: 64px;
    display: flex;
    margin-right: 0;
    float: left;
  }

  .logo {
    height: 40px;
  }

  &.fixed {
    background: transparent;
    color: #fff;

    .ant-menu-item>a,
    .slt-nav-item a {
      color: #fff;
    }
  }

  &.scroll {
    background: #fff;

    .ant-menu-item>a,
    .slt-nav-item a {
      color: rgba(0, 0, 0, 0.65);
    }
  }
}

.slt-header-nav {
  height: 100%;
  display: flex;
  align-items: center;

  &-right {
    float: right;
    @media (max-width: 992px) {
      display: none;
    }
  }

  &-left {
    float: left;
    margin-left: 24px;

    @media (max-width: 992px) {
      display: none;
    }
  }
}

.slt-header-menu {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 0;
  list-style: none;

  &.ant-menu-horizontal {
    border-bottom: 0;
    background-color: rgba(0, 0, 0, 0);

    .ant-menu-item {
      top: 0;
      border-bottom: 2px solid rgba(0, 0, 0, 0) !important;
      border-top: 3px solid rgba(0, 0, 0, 0) !important;
      padding: 0;
      margin: 0;

      a {
        line-height: 56px;
        padding: 0 14px;
      }
    }

    .ant-menu-item>a::before {
      background: transparent;
    }
  }

  .slt-nav-item {
    margin-left: 8px;
    min-width: 24px;
  }
}
