$list-item-padding-x: 10px;

.card {
  display: flex;
  flex-wrap: wrap;
  margin-left: -$list-item-padding-x;
  margin-right: -$list-item-padding-x;

  &Wrapper {
    display: flex;
    padding: $list-item-padding-x 10px;
  }
}
