.footer {
  background-color: #222831 !important;
  padding-top: 24px !important;
  padding-bottom: 24px !important;

  a {
    color: #9fa0a7;

    &:hover {
      color: #fff;
    }
  }

  :global(.menu-item) {
    a {
      color: #f2f2f5 !important;
    }
  }
}

.links {
  margin-top: 16px;
  border-color: #393e46;
  font-size: 12px;
  padding-top: 16px;
  border-top: 1px solid rgba(222, 226, 230, 0.5);

  &Title,
  a {
    color: #9ca0ad;
  }

  &>* {
    margin-right: 6px;
    margin-top: 2px;
    margin-bottom: 2px;
  }
}

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 12px;

  li {
    display: inline-block;
    font-size: 12px;
    margin: 0 16px 0 0;
  }
}

.copyright {
  font-size: 12px;
  color: #9fa0a7;

  a {
    display: inline-block;
    margin-left: 4px;
    margin-right: 4px;
  }
}


.content {
  @media (min-width: 768px) {
    align-items: center;
    flex: 1 1 auto;
    display: flex;
  }

  .left {
    flex-direction: column;
    display: flex;
  }

  .right {
    :global(.ant-btn) {
      display: inline-block;
      font-weight: 400;
      user-select: none;
      text-align: center;
      // width: 2.125rem;
      // height: 2.125rem;
      padding: 0 !important;
      position: relative;
      color: #fff;
      background-color: #393e46;
      border-color: #393e46;
      margin-right: 6px;
      margin-top: 6px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
